<header>
    <div class="top-header">
        <div  style="width: 1140px; max-width: 1140px; overflow: hidden; justify-content: space-between; align-items: center; display: flex">
            <img class="logo" src="{{asset 'img/logo.png'}}"/>
            <div style="justify-content: center; align-items: center; gap: 30px; display: flex">
                <div style="width: 15px; height: 13px; background: #728382"></div>
                <a href="https://google.fr">
                <div style="justify-content: center; display: flex; flex-direction: column; color: #728382; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">cc</div>
                </a>
                <div style="justify-content: center; display: flex; flex-direction: column; color: #728382; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Actus</div>
                <div style="justify-content: center; display: flex; flex-direction: column; color: #728382; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Les acteurs</div>
                <div style="justify-content: center; display: flex; flex-direction: column; color: #728382; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Nos actions</div>
                <div style="justify-content: center; display: flex; flex-direction: column; color: #728382; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Financements</div>
                <div style="justify-content: center; display: flex; flex-direction: column; color: #728382; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Ressources</div>
                <div style="justify-content: center; display: flex; flex-direction: column; color: #728382; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Contactez-Nous</div>
            </div>
        </div>
    </div>
    <div class="top-search-bar">
    <div style="margin-left:auto; margin-right:auto;width: 663px; max-width: 1000px; padding-top: 10px; padding-bottom: 10px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 18px; display: flex">
        <div style="justify-content: center; display: flex; flex-direction: column; color: #728382; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Recherchez</div>
        <div style="flex: 1 1 0; padding-left: 15px; background: white; overflow: hidden; border-radius: 12px; justify-content: space-between; align-items: center; display: flex">
            <div style="width: 30px; height: 30px; position: relative; overflow: hidden">
            <div style="width: 25px; height: 16.25px; left: 2.50px; top: 7.50px; position: absolute; background: #728382"></div>
            </div>
            <div style="width: 70px; height: 40px; padding-left: 32px; padding-right: 32px; padding-top: 10px; padding-bottom: 10px; background: var(--Brand-color-Couleur-secondaire, #24BD8B); border-top-right-radius: 999px; border-bottom-right-radius: 999px; justify-content: center; align-items: center; gap: 10px; display: flex">
            <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Lancer</div>
            </div>
        </div>
        </div>
    </div>
</header>