


<div class="container">
    
  <div style="width: 100%; height: 100%; padding: 10px; background: white; overflow: hidden; outline: 1px white solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
    <div style="width: 1140px; height: 600px; position: relative; background: white; overflow: hidden">
        <div style="width: 1140px; padding-left: 10px; padding-right: 10px; padding-top: 20px; padding-bottom: 20px; left: 0px; top: 4.51px; position: absolute; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="justify-content: center; display: flex; flex-direction: column; color: #008086; font-size: 28px; font-family: Anton; font-weight: 400; line-height: 36px; word-wrap: break-word">Actualités</div>
            <div style="justify-content: center; display: flex; flex-direction: column; color: #E98809; font-size: 16px; font-family: Inter; font-weight: 800; line-height: 24px; word-wrap: break-word">Les dernières infos du réseau</div>
        </div>
        <div class="grid" style="width: 1140px; left: 0px; top: 102.51px; position: absolute; justify-content: flex-start; align-items: center; gap: 25px; display: inline-flex">
            <div style="width: 370px; height: 422px; background: white; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); overflow: hidden; border-radius: 12px; outline: 1px var(--Brand-color-Gris-clair, #DDDDDD) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                <div style="align-self: stretch; height: 153px; overflow: hidden; border-top-left-radius: 12px; border-top-right-radius: 12px; background-image: url(https://placehold.co/370x153); justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="width: 370px; height: 213px; position: relative; overflow: hidden; background-image: url(https://placehold.co/370x213)">
                        <div style="left: 14px; top: 7px; position: absolute; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                            <div data-property-1="Default" style="height: 25px; padding: 10px; background: #008086; border-radius: 8px; outline: 1px white solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 10px; display: flex">
                                <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Attractivité territoriale</div>
                            </div>
                            <div data-property-1="Variant2" style="height: 25px; padding: 10px; background: #24BD8B; border-radius: 8px; outline: 1px white solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 10px; display: flex">
                                <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Baleines</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; height: 259px; padding-left: 12px; padding-right: 12px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-cyan-32, #21827E); font-size: 20px; font-family: Anton; font-weight: 400; line-height: 28px; word-wrap: break-word">La saison des baleines bat son plein ! Une application dédiée...</div>
                    <div style="width: 358px; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-48, #728382); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Comme chaque année, ces géantes des mers nous offrent un spectacle inoubliable. </div>
                    <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-48, #728382); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Depuis le 4 juin, les règles d’observation des<br/>cétacés se renforcent. Objectif : limiter les<br/>perturbations en mer et préserver la quiétude des animaux pendant leur passage. Bonne nouvelle ! il existe une solution simple,…</div>
                </div>
            </div>
            <div style="width: 354px; height: 422px; background: white; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); overflow: hidden; border-radius: 12px; outline: 1px #DDDDDD solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                <div style="align-self: stretch; height: 153px; overflow: hidden; border-top-left-radius: 12px; border-top-right-radius: 12px; background-image: url(https://placehold.co/354x153); justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="width: 362px; height: 209px; position: relative; overflow: hidden">
                        <img style="width: 363px; height: 205px; left: -1px; top: 0px; position: absolute" src="https://placehold.co/363x205" />
                        <div style="left: 6px; top: 6px; position: absolute; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                            <div data-property-1="Default" style="height: 25px; padding: 10px; background: #008086; border-radius: 8px; outline: 1px white solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 10px; display: flex">
                                <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Artisanat</div>
                            </div>
                            <div data-property-1="Variant2" style="height: 25px; padding: 10px; background: #24BD8B; border-radius: 8px; outline: 1px white solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 10px; display: flex">
                                <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Marché</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; height: 259px; padding-left: 12px; padding-right: 12px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-cyan-32, #21827E); font-size: 20px; font-family: Anton; font-weight: 400; line-height: 28px; word-wrap: break-word">Zartizan Péi ! Marché du savoir-faire Péi</div>
                    <div style="width: 342px; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-48, #728382); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Les 15, 16 et 17 août, venez découvrir les produits du terroir de l’Ouest et peut-être...</div>
                    <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-48, #728382); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Vous faites quoi le 15, 16 et 17 août?<br/>Nous? On sera à Zartizan Péi!<br/>De 10:00 à 20:00, venez flâner au Port de<br/>Plaisance de Saint-Gilles et laissez vos pas vous guider vers notre boutique hors les murs.…</div>
                </div>
            </div>
            <div style="width: 366px; height: 422px; background: white; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); overflow: hidden; border-radius: 12px; outline: 1px #DDDDDD solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                <div style="align-self: stretch; height: 153px; position: relative; overflow: hidden; border-top-left-radius: 12px; border-top-right-radius: 12px; background-image: url(https://placehold.co/366x153)">
                    <img style="width: 366px; height: 206px; left: 0px; top: -26px; position: absolute" src="https://placehold.co/366x206" />
                    <div style="left: 10px; top: 8px; position: absolute; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                        <div data-property-1="Default" style="height: 25px; padding: 10px; background: #008086; border-radius: 8px; outline: 1px white solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 10px; display: flex">
                            <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">La case rurale</div>
                        </div>
                        <div data-property-1="Variant2" style="height: 25px; padding: 10px; background: #24BD8B; border-radius: 8px; outline: 1px white solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 10px; display: flex">
                            <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Agri-alimentaire</div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; height: 259px; padding-left: 12px; padding-right: 12px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-cyan-32, #21827E); font-size: 20px; font-family: Anton; font-weight: 400; line-height: 28px; word-wrap: break-word">1ère édition des Rencontres Rurales de Trois-Bassins !</div>
                    <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-48, #728382); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Le mercredi 4 juin, l’Alambic a accueilli la toute première édition des Rencontres...</div>
                    <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-48, #728382); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Au cœur de cette matinée :<br/>Un village des partenaires riche en échanges, avec la présence de : Maraîchers de Trois-Bassins Latraksion Péïzane Met Zot An Lèr ARP (Association Réunionnaise de Pastoralisme)…</div>
                </div>
            </div>
        </div>
        <div style="width: 137px; height: 40px; padding-left: 32px; padding-right: 32px; padding-top: 10px; padding-bottom: 10px; left: 454px; top: 544px; position: absolute; background: var(--Brand-color-Noir-Neutral-Color-blanc, white); border-radius: 999px; outline: 1px #DDDDDD solid; outline-offset: -1px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="justify-content: center; display: flex; flex-direction: column; color: #728382; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">En voir plus</div>
        </div>
    </div>
  </div>
</div>