---
data:
  projects:
    collection: "projects"
    filter: {  }
    sort: {  }
    limit: 3
  prototypes:
    collection: "prototypes"
    filter: {  }
    sort: {  }
    limit: 3
layout: "layout"
---

<h1>Derniers posts</h1>
<ul>
  {{#each projects}}
    <li><strong>{{_id}}</strong> — <small>{{body.plib}}</small></li>
  {{/each}}
</ul>
<ul>
  {{#each prototypes}}
    <li><strong>{{_id}}</strong> — <small>{{body.plib}}</small></li>
  {{/each}}
</ul>